<div class='row'>
    <div class='col-10 offset-1 p-3 border border-dark'>
      <div class='row'>
          <h3>Product Details</h3>
      </div>
      {{ product | json }}
      <p class='text-danger' *ngIf="eShow">{{ eQuantity }}</p>
        <div class='row'>
          <h4 class='text-secondary'>Name: </h4>
          <p class='ml-4'>{{product.name}}</p>
        </div>
        <div class='row mt-3'>
          <h4 class='text-secondary'>Quantity: </h4>
          <p class='ml-4'>{{product.qty}}</p>
        </div>
        <div class='row mt-3'>
          <h4 class='text-secondary'>Price: </h4>
          <p class='ml-4'>${{product.price}}</p>
        </div>
        <div class='row mt-3'>
          <button name='back' [routerLink]="['/products']" class='btn btn-primary ml-5'>BACK</button>
          <button name='delete' (click)="delete()" *ngIf="product.qty == 0" class='btn btn-danger ml-2'>DELETE</button>
        </div>
    </div>
  </div>